<%- include('../includes/head.ejs') %>
</head>
<body>

    <h2 class="heading center">Reset password</h2>

    <form class="form" action="/password-change" method="POST" novalidate>

        <div class="form-control">
            <label for="email">New password</label>
            <input name="password" type="password" value="<%= oldInput.password %>">
        </div>

        <div class="form-control">
            <label for="passwordRepeat">Repeat</label>
            <input name="passwordRepeat" type="password" value="">
        </div>

        <button class="form-btn" type="submit">Change password</button>

    </form>

    <% if (errorMessage) { %>
        <div class="user-error-message">
            <%= errorMessage %>
        </div>
    <% } %>

    <%- include('../includes/navigation.ejs') %>
    
<%- include('../includes/end.ejs') %>