<<<<<<< HEAD
<div class="navigation center">
  <a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a>
  <a href="/signup" class="<%= path === '/signup' ? 'active' : '' %>">Signup</a>
  <a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a>
</div>
=======
<div class="navigation center">
    <a href="/signup" class="<%= path === '/signup' ? 'active' : '' %>">Signup</a>
    <a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a>
</div>
>>>>>>> 9d9a2d2d98f84a83361c292d3ef41431c7f8a840
