<<<<<<< HEAD
<%- include('./includes/head.ejs') %>
</head>
<body>

    <h2 class="heading center">Error</h2>

    <%- include('./includes/navigation.ejs') %>
    
=======
<%- include('./includes/head.ejs') %>
</head>
<body>

    <h2 class="heading center">Error</h2>

    <%- include('./includes/navigation.ejs') %>
    
>>>>>>> 9d9a2d2d98f84a83361c292d3ef41431c7f8a840
<%- include('./includes/end.ejs') %>