<%- include('./includes/head.ejs') %>
</head>
<body>

    <h2 class="heading center">Login page</h2>

    <form class="form" action="/login" method="POST" novalidate>

        <div class="form-control">
            <label for="email">E-Mail</label>
            <input name="email" type="email" value="<%= oldInput.email %>">
        </div>

        <div class="form-control">
            <label for="password">Password</label>
            <input name="password" type="password" value="<%= oldInput.password %>">
        </div>

        <button class="form-btn" type="submit">Login</button>

    </form>

    <% if (errorMessage) { %>
        <div class="user-error-message">
            <%= errorMessage %>
        </div>
    <% } %>

    <%- include('./includes/navigation.ejs') %>
    
<%- include('./includes/end.ejs') %>