<<<<<<< HEAD
<%- include('./includes/head.ejs') %>
</head>
<body>

    <div class="success-page">
        <h2>Congratulations!</h2>
        <p>Be proud! You created a login / sign up system! Wait til Doria hears about this. &#10084;</p>
    </div>

    <%- include('./includes/navigation.ejs') %>
    
=======
<%- include('./includes/head.ejs') %>
</head>
<body>

    <div class="success-page">
        <h2>Congratulations!</h2>
        <p>Be proud! You created a login / sign up system! Wait til Doria hears about this. &#10084;</p>
    </div>

    <%- include('./includes/navigation.ejs') %>
    
>>>>>>> 9d9a2d2d98f84a83361c292d3ef41431c7f8a840
<%- include('./includes/end.ejs') %>