<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/home.css">
</head>
<body>

    <div class="home_container">
        <div class="home_left">
            <div class="user-avatar"></div>
            <p>Username: <span><%= user.name %></span></p>
            <p>Registered since: <span> <%= user.registeredSince %></span></p>
            <p>Files uploaded: <span> <%= user.filesUploaded %> </span></p>
        </div>
        <div class="home_right">
            
        </div>
    </div>

    <%- include('../includes/navigation.ejs') %>
    
<%- include('../includes/end.ejs') %>