<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/home.css">
</head>
<body>

    <div class="home_container">
        <div class="home_left">
            <div class="user-avatar"></div>
            <p>Username: <span><%= user.name %></span></p>
            <p>Registered since: <span> <%= user.registeredSince %></span></p>
            <p>Files uploaded: <span> <%= user.filesUploaded %> </span></p>
            <a href="/settings">Settings</a>
        </div>
        <div class="home_right">
            <% if (posts.length > 0) { %>
                <% for (let p of posts) { %>
                    <div class="post">
                        <p><%= p.uploadDate %></p>
                        <img src="/<%= p.imageUrl %>" alt="p.title">
                        <p><%= p.title %></p>
                        <p><%= p.description %></p>
                    </div>
                <% } %>
            <% } else { %>
                <h2 class="center">No posts found!</h2>
            <% } %>
        </div>
    </div>

    <%- include('../includes/navigation.ejs') %>
    
<%- include('../includes/end.ejs') %>