<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/home.css">
</head>
<body>

    <div class="home_container">
        <div class="home_left">
            <div class="user-avatar" style="background-image: url(<%= user.avatar === '-' ? '../img/setup-avatar.png' : user.avatar %>)"></div>
            <p>Username:<br><span><%= user.name %></span></p>
            <p>Registered since:<br><span> <%= user.registeredSince %></span></p>
            <p>Posted:<br><span> <%= user.filesUploaded %> </span></p>
            <a href="/settings">Settings</a>
        </div>
        <div class="home_right">
            <% if (posts.length > 0) { %>
                <% for (let p of posts) { %>
                    <div class="post">
                        <div class="post__top">
                            <div class="post__top--left post__avatar" style="background-image: url(<%= p.avatarUrl === '-' ? '../img/setup-avatar.png' : p.avatarUrl %>)"></div>
                            <div class="post__top--right">
                                <p><%= p.username %></p>
                                <p><%= p.uploadDate %></p>
                            </div>
                        </div>
                        <div class="post__body">
                            <% if (p.shared) { %>
                                <div class="shared__post">
                                    <% if (p.imageUrl) { %>
                                    <p><span>On <%= p.sharingDetails.uploadDate.split(' - ')[0] %> <%= p.sharingDetails.owner %> uploaded:</span> <%= p.description %></p>
                                    <div class="post__body--img__container">
                                        <img src="/<%= p.imageUrl %>" alt="p.title">
                                    </div>
                                    <% } else { %>
                                        <p><span>On <%= p.sharingDetails.uploadDate.split(' - ')[0] %> <%= p.sharingDetails.owner %> uploaded:</span> <%= p.description %></p>
                                    <% } %>
                                </div>
                            <% } else { %>
                                <% if (p.imageUrl) { %>
                                    <p><%= p.description %></p>
                                    <div class="post__body--img__container">
                                        <img src="/<%= p.imageUrl %>" alt="p.title">
                                    </div>
                                <% } else { %>
                                    <p><%= p.description %></p>
                                <% } %>
                            <% } %>
                            

                        </div>
                        <div class="post__footer">
                            <form action="/like/<%= p._id %>" method="post">
                                <p class="likes"><%= p.likes %></p>
                                <button type="submit" class="like"></button>
                            </form>
                            <form action="/share/<%= p._id %>" method="post">
                                <button type="submit" class="share"></button>
                            </form>
                            <br>
                            <% if ( p.userId.toString() === user.id.toString() ) { %>
                                <% if (!p.shared) { %> 
                                    <form action="/edit/<%= p._id %>" method="get">
                                        <button type="submit" class="edit"></button>
                                    </form>
                                <% }%>
                                <form action="/delete/<%= p._id %>" method="post">
                                    <button type="submit" class="delete"></button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <h2 class="center no-posts">No posts found!</h2>
            <% } %>
        </div>
    </div>

    <div class="img__preview__modal" id="modal">
        <p id="close">Close</p>
        <img src="" alt="" id="preview-image">
    </div>

    <script type="text/javascript" src="<%= scripts %>"></script>

    <%- include('../includes/navigation.ejs') %>
    
<%- include('../includes/end.ejs') %>